* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #ffff;
  background: rgb(142, 73, 232);
}

body {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  padding: 10px;
  background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
}
.wrapper {
  background: #fff;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.wrapper header {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.wrapper .inputPolje {
  margin: 10px 0;
  width: 100%;
  display: flex;
  height: 45px;
}
.inputPolje input {
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
.inputPolje input:focus {
  border-color: #8e49e8;
}

.dodaj {
  width: 62px;
  height: 100%;
  border: none;
  padding: 5px;
  color: #fff;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 21px;
  outline: none;
  background: #8e49e8;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.dodaj button:hover,
button:hover {
  background: #721ce3;
}
.dodaj button.active {
  opacity: 1;
  pointer-events: auto;
}
.ukloni {
  width: 32px;
  height: 100%;
  border: none;
  padding: 5px;
  color: #fff;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 21px;
  outline: none;
  background: #8e49e8;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.wrapper .todoList {
  max-height: 250px;
  overflow-y: auto;
}
.todoList li {
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}
